.j-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.light-green-color {
  background: var(--light-green-color);
}

.aero-blue-color {
  background: var(--aero-blue-color);
}

.almond-color {
  background: var(--almond-color);
}

.water-color {
  background: var(--water-color);
}

.button {
  padding: 16px 40px;
  background: var(--accent-color);
  color: var(--black-color);
  font-weight: 700;
  font-size: em(15);
  display: inline-block;
  border-radius: 6px;
  transition: .5s;
  &:hover {
    background: #F8D45F !important;
  }
  &.btn_black {
    font-weight: 600;
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    &:hover {
      background: rgba(255, 255, 255, 0.2) !important;
    }
  }
}
