:root {
  --container-width: 1290px;
  --padding-main-screen:130px;
  --accent-color: #f5bf0c;
  --white-color: #fff;
  --black-color: #131313;
  --sky-blue-color: #c8ebff;
  --light-green-color: #e7ffc8;
  --aero-blue-color: #c8ffee;
  --almond-color: #fff0c8;
  --water-color: #c8ebff;
}
