@import 'reset';
@import 'vars';
@import 'mixins';
@import 'framework';
@import 'keyframes';
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1290px,
  xxl: 1320px,
);
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
  background: url('../images/noise.svg');
  background: var(--black-color);
  font-family: Manrope;
  box-sizing: border-box;
  height: 400vh;
}
.header {
  padding: 16px 0;
  color: var(--white-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--black-color);
  z-index: 2;
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header__item {
      flex: 1;
      display: flex;
      .item__logo {
        width: 154px;
      }
      .header__nav {
        display: flex;
        margin: 0;
        font-size: em(15);
        font-weight: 500;
        padding: 0;
        .nav__item {
          list-style: none;
          margin: 0 38px 0 0;
          color: rgba(255, 255, 255, 0.84);
          &:hover {
            color: rgb(255, 255, 255);
          }
          &:last-child {
            margin: 0;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      .item__btn {
        margin: 0 0 0 auto;
        padding: 12px 20px;
        font-weight: 700;
        color: var(--black-color);
        background: var(--accent-color);
        border-radius: 6px;
        cursor: pointer;
        font-size: em(15);
      }
    }
  }
}

.main-screen {
  padding: var(--padding-main-screen) 0 0;
  color: var(--white-color);

  justify-content: space-between;
  margin: auto;
  &__item {
    &_text {
      .item__title {
        font-size: em(60);
        font-weight: 500;
        line-height: 120%;
        max-width: 512px;
        margin: 7rem 0 0;
        color: var(--accent-color);
        span {
          color: var(--white-color);
        }
      }
      .item__subtitle {
        margin: 25px 0 0;
        font-size: em(28);
        opacity: 0.9;
      }
      .item__description {
        margin: 25px 0 0;
        opacity: 0.9;
        line-height: 156%;
        font-size: em(18);
        max-width: 442px;
      }
      .item__buttons {
        display: flex;
        margin: 40px 0 0;
        .button {
          margin: 0 16px 0 0;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    &_image {
      position: relative;
      max-width: 700px;
      overflow: hidden;
      .image__features {
        position: absolute;
        bottom: 100px;
        right: 0px;
        .features__item {
          color: var(--black-color);
          font-weight: 600;
          font-size: em(16);
          padding: 13px 25px;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          backdrop-filter: blur(20px);
          margin: 0 0 8px 0;
          transform: translateX(200%);
          &:last-child {
            margin: 0;
          }
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation: right 0.8s #{$i / 2}s forwards;
              position: relative;
              right: calc(20px * #{$i});
            }
          }
          .item__icon {
            margin: 0 10px 0 0;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
